<!DOCTYPE HTML>
<html>
  <head>
    <title>My Movie Trailer's Collection</title>
  <style>
    $styles
  </style>
  </head>
  <body>
    <header>
      <h1>Awesome trailers and awesome movies</h1>
      <p>A project built as part of the Udacity Full Stack Nanodegree</p>
      <nav>
        <a href="http://udacity.com">Udacity</a>
        <a href="https://br.udacity.com/course/full-stack-web-developer-nanodegree--nd004">Full Stack Nanodegree</a>
      </nav>
    </header>
    <main>
      $movie_list
    </main>
    <footer>
      <p>by Nelson do Vale Oliveira</p>
      <p>Meet me at:</p>
      <div>
        <a target="_blank" href="http://github.com/ndvo">Github</a>
        <a target="_blank" href="https://codepen.io/ndvo/#">Codepen.io</a>
        <a target="_blank" href="http://www.freecodecamp.org/ndvo">Freecodecamp</a>
      </div>
    </footer>
    <dialog>
    <div class="close" onclick="closedialog()">&times;</div>
<iframe width="800" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </dialog>
    <script>
      $js
    </script>
  </body>
</html>
